version: "3.9"

services:
  api:
    build: .
    command: uvicorn app.api:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./:/app

  streamlit:
    build: .
    command: streamlit run streamlit_app.py --server.port 8501 --server.address 0.0.0.0
    env_file:
      - .env
    ports:
      - "8501:8501"
    volumes:
      - ./:/app
    depends_on:
      - api
